<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_bubingboss-chen-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,401},{69,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
            <key>Monster_bubingboss-chen-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,418},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>Monster_bubingboss-chen-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,338},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>Monster_bubingboss-chen-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,269},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>Monster_bubingboss-gun-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{12,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,243}}</string>
                <key>sourceSize</key>
                <string>{12,243}</string>
            </dict>
            <key>Monster_bubingboss-gxs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,130},{85,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,13}}</string>
                <key>sourceSize</key>
                <string>{85,13}</string>
            </dict>
            <key>Monster_bubingboss-gxs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,116},{96,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,12}}</string>
                <key>sourceSize</key>
                <string>{96,12}</string>
            </dict>
            <key>Monster_bubingboss-hq-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{138,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,171}}</string>
                <key>sourceSize</key>
                <string>{138,171}</string>
            </dict>
            <key>Monster_bubingboss-hq-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,317},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>Monster_bubingboss-klgx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,130},{136,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,37}}</string>
                <key>sourceSize</key>
                <string>{136,37}</string>
            </dict>
            <key>Monster_bubingboss-klgx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,338},{99,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,30}}</string>
                <key>sourceSize</key>
                <string>{99,30}</string>
            </dict>
            <key>Monster_bubingboss-klgx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,217},{92,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,21}}</string>
                <key>sourceSize</key>
                <string>{92,21}</string>
            </dict>
            <key>Monster_bubingboss-klgx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,326},{124,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,10}}</string>
                <key>sourceSize</key>
                <string>{124,10}</string>
            </dict>
            <key>Monster_bubingboss-mao-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,338},{28,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,104}}</string>
                <key>sourceSize</key>
                <string>{28,104}</string>
            </dict>
            <key>Monster_bubingboss-qe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,355},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-jb-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,351},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-jb1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,409},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-jb1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,419},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-jb2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,353},{49,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,62}}</string>
                <key>sourceSize</key>
                <string>{49,62}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-jb2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,350},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,67}}</string>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-jb3-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,289},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,76},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,169},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,409},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb2-011.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,439},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,447},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb3-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,175},{92,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,190}}</string>
                <key>sourceSize</key>
                <string>{92,190}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb3-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,472},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb3-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,230},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb4-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,454},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-sb4-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,17},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-st1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-st1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,305},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,67}}</string>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-st1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,444},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-st2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,454},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-st2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,485},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{42,16}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-st2-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,453},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-st2-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,355},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-st2-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,326},{12,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,27}}</string>
                <key>sourceSize</key>
                <string>{12,27}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-tb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,242},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-tie-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,269},{55,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,139}}</string>
                <key>sourceSize</key>
                <string>{55,139}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-tie-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{54,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,126}}</string>
                <key>sourceSize</key>
                <string>{54,126}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-yj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,289},{26,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,9}}</string>
                <key>sourceSize</key>
                <string>{26,9}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-yj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,299},{26,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,11}}</string>
                <key>sourceSize</key>
                <string>{26,11}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-ym-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,242},{11,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,55}}</string>
                <key>sourceSize</key>
                <string>{11,55}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-yz .png</key>
            <dict>
                <key>frame</key>
                <string>{{347,81},{96,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,33}}</string>
                <key>sourceSize</key>
                <string>{96,33}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-zb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,338},{11,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,4}}</string>
                <key>sourceSize</key>
                <string>{11,4}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-zb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,369},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>Monster_bubingboss-rlboss-zb-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{13,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,6}}</string>
                <key>sourceSize</key>
                <string>{13,6}</string>
            </dict>
            <key>Monster_bubingboss-rlbossjb3-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,359},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>Monster_bubingboss-rlbossst1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,148},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>Monster_bubingboss-rlbossst2-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,485},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>Monster_bubingboss-rlbossst2-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,327},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>Monster_bubingboss-xfa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{147,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,169}}</string>
                <key>sourceSize</key>
                <string>{147,169}</string>
            </dict>
            <key>Monster_bubingboss-xfa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{147,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,169}}</string>
                <key>sourceSize</key>
                <string>{147,169}</string>
            </dict>
            <key>Monster_bubingboss-xfa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,169}}</string>
                <key>sourceSize</key>
                <string>{147,169}</string>
            </dict>
            <key>Monster_bubingboss-xym-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,311},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster_bubingboss.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:493e55f403535f5c25ed6afbf8ca1e6c$</string>
            <key>textureFileName</key>
            <string>Monster_bubingboss.png</string>
        </dict>
    </dict>
</plist>
