<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_bianyikunchong-bp.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,334},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>Monster_bianyikunchong-bp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,186},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,64}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-cb1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,115},{8,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,36}}</string>
                <key>sourceSize</key>
                <string>{8,36}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-cb1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,19},{12,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,56}}</string>
                <key>sourceSize</key>
                <string>{12,56}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-cb1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,410},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-cb1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,374},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-cb1-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{8,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,24}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-cb1-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,311},{78,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,21}}</string>
                <key>sourceSize</key>
                <string>{78,21}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-cb1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,55},{5,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,32}}</string>
                <key>sourceSize</key>
                <string>{5,32}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-sb1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{12,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,37}}</string>
                <key>sourceSize</key>
                <string>{12,37}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-sb1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,277},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-sb1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{12,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,30}}</string>
                <key>sourceSize</key>
                <string>{12,30}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-sb1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,492},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-sb1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,250},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,334},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,455},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,232},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,79},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,273},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,379},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,364},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-st2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,109},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,345},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb1-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,44},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,33},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,410},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,89},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,352},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,115},{8,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,15}}</string>
                <key>sourceSize</key>
                <string>{8,15}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,43}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>Monster_bianyikunchong-byc-tb3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,320},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>Monster_bianyikunchong-dijing-yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,368},{93,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,30}}</string>
                <key>sourceSize</key>
                <string>{93,30}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 1 02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{223,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,111}}</string>
                <key>sourceSize</key>
                <string>{223,111}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,123}}</string>
                <key>sourceSize</key>
                <string>{224,123}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,115},{167,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,115}}</string>
                <key>sourceSize</key>
                <string>{167,115}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 4 c.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,232},{139,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,123}}</string>
                <key>sourceSize</key>
                <string>{139,123}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{145,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,119}}</string>
                <key>sourceSize</key>
                <string>{145,119}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,125},{123,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,113}}</string>
                <key>sourceSize</key>
                <string>{123,113}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,250},{116,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,94}}</string>
                <key>sourceSize</key>
                <string>{116,94}</string>
            </dict>
            <key>Monster_bianyikunchong-duwu fb 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,261},{60,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,43}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,186},{44,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,11}}</string>
                <key>sourceSize</key>
                <string>{44,11}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,227},{62,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,16}}</string>
                <key>sourceSize</key>
                <string>{62,16}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,167},{70,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,17}}</string>
                <key>sourceSize</key>
                <string>{70,17}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb12.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,127},{74,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,15}}</string>
                <key>sourceSize</key>
                <string>{74,15}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,65},{49,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,12}}</string>
                <key>sourceSize</key>
                <string>{49,12}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,49},{49,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,14}}</string>
                <key>sourceSize</key>
                <string>{49,14}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,33},{49,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,14}}</string>
                <key>sourceSize</key>
                <string>{49,14}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{56,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,15}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,245},{62,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,14}}</string>
                <key>sourceSize</key>
                <string>{62,14}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,291},{59,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,14}}</string>
                <key>sourceSize</key>
                <string>{59,14}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,248},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>Monster_bianyikunchong-xzb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,144},{71,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,21}}</string>
                <key>sourceSize</key>
                <string>{71,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster_bianyikunchong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4b64852c939257b54029dae0f68f560$</string>
            <key>textureFileName</key>
            <string>Monster_bianyikunchong.png</string>
        </dict>
    </dict>
</plist>
