<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_chixie-dijing-yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{164,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,49}}</string>
                <key>sourceSize</key>
                <string>{164,49}</string>
            </dict>
            <key>Monster_chixie-xzjb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,192},{16,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,57}}</string>
                <key>sourceSize</key>
                <string>{16,57}</string>
            </dict>
            <key>Monster_chixie-xzjb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,154},{18,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,53}}</string>
                <key>sourceSize</key>
                <string>{18,53}</string>
            </dict>
            <key>Monster_chixie-xzjb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,137},{18,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,53}}</string>
                <key>sourceSize</key>
                <string>{18,53}</string>
            </dict>
            <key>Monster_chixie-xzjb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,58},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>Monster_chixie-xzsb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>Monster_chixie-xzsb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,84},{51,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,26}}</string>
                <key>sourceSize</key>
                <string>{51,26}</string>
            </dict>
            <key>Monster_chixie-xzsb03s.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,174},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>Monster_chixie-xzst.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>Monster_chixie-xztb.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,81},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>Monster_chixie-xzwb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,58},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>Monster_chixie-xzwb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>Monster_chixie-xzwb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,58},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Monster_chixie-xzwb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,126},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster_chixie.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73da23991eba8af9b74204c47f2fdddb$</string>
            <key>textureFileName</key>
            <string>Monster_chixie.png</string>
        </dict>
    </dict>
</plist>
