<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kulou-klgx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,62}}</string>
                <key>sourceSize</key>
                <string>{195,62}</string>
            </dict>
            <key>kulou-klgx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{142,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{142,50}</string>
            </dict>
            <key>kulou-klgx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{121,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,35}}</string>
                <key>sourceSize</key>
                <string>{121,35}</string>
            </dict>
            <key>kulou-klgx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{177,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,16}}</string>
                <key>sourceSize</key>
                <string>{177,16}</string>
            </dict>
            <key>kulou-kulou-b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>kulou-kulou-dp-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,181},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>kulou-kulou-f-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,96},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>kulou-kulou-f-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,124},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>kulou-kulou-gt-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,150},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>kulou-kulou-gt-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,161},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>kulou-kulou-j-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>kulou-kulou-j-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,103},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>kulou-kulou-l-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,103},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>kulou-kulou-mz-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,153},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>kulou-kulou-s-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,137},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>kulou-kulou-st-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,200},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>kulou-kulou-wq-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{149,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,19}}</string>
                <key>sourceSize</key>
                <string>{149,19}</string>
            </dict>
            <key>kulou-kulou-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,130},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>kulou-kulou-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,66},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>kulou-kulou-yj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,96},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,10}</string>
            </dict>
            <key>kulou-kulou-yj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,149},{23,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>kulou-kulou-yj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,66},{23,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>kulou-kuloul-xb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,160},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{26,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster_kulou.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90ea0008c3bc459dcc0741f7176a5a5$</string>
            <key>textureFileName</key>
            <string>Monster_kulou.png</string>
        </dict>
    </dict>
</plist>
