<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>portal-copy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,370},{86,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,182}}</string>
                <key>sourceSize</key>
                <string>{86,182}</string>
            </dict>
            <key>portal-copy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,186},{85,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,182}}</string>
                <key>sourceSize</key>
                <string>{85,182}</string>
            </dict>
            <key>portal-copy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{93,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,182}}</string>
                <key>sourceSize</key>
                <string>{93,182}</string>
            </dict>
            <key>portal-copy04.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{80,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,182}}</string>
                <key>sourceSize</key>
                <string>{80,182}</string>
            </dict>
            <key>portal-copy05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,186},{87,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,182}}</string>
                <key>sourceSize</key>
                <string>{87,182}</string>
            </dict>
            <key>portal-csm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,186},{82,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,182}}</string>
                <key>sourceSize</key>
                <string>{82,182}</string>
            </dict>
            <key>portal-csm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,182}}</string>
                <key>sourceSize</key>
                <string>{98,182}</string>
            </dict>
            <key>portal-csm03.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{83,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,182}}</string>
                <key>sourceSize</key>
                <string>{83,182}</string>
            </dict>
            <key>portal-csm04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{94,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,182}}</string>
                <key>sourceSize</key>
                <string>{94,182}</string>
            </dict>
            <key>portal-csm05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{87,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,182}}</string>
                <key>sourceSize</key>
                <string>{87,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Portal_Animation.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9d5bb1dc974d485eee19593ff202b60$</string>
            <key>textureFileName</key>
            <string>Portal_Animation.png</string>
        </dict>
    </dict>
</plist>
