<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ptgongji3/ptgongji3_1.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-58</real>
			</dict>
			<key>ptgongji3/ptgongji3_2.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>ptgongji4/ptgongji4_1.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>334</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>ptgongji4/ptgongji4_2.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>-47</real>
			</dict>
			<key>ptgongji4/ptgongji4_3.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>ptgongji1/ptgongji1_3.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>141</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>-55</real>
			</dict>
			<key>ptgongji1/ptgongji1_4.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>141</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-53</real>
			</dict>
			<key>ptgongji3/ptgongji3_4.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>ptgongji3/ptgongji3_5.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>329</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>-30.5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>ptgongji4/ptgongji4_4.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>-60.5</real>
			</dict>
			<key>ptgongji4/ptgongji4_5.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>379</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-53.5</real>
			</dict>
			<key>tiaoyue/tiaoyue1_1.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>tiaoyue/tiaoyue1_2.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>531</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>tiaoyue/tiaoyue1_3.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>159</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>ptgongji2/ptgongji2_4.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>ptgongji2/ptgongji2_5.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>157</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-53.5</real>
			</dict>
			<key>zou/zou1_2.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>zou/zou1_3.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>505</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>zou/zou1_5.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>141</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>zou/zou1_6.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>688</integer>
				<key>y</key>
				<integer>264</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zou/zou1_7.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>835</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>zou/zou1_8.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>835</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhujiao1.png</string>
			<key>realTextureFileName</key>
			<string>zhujiao1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>