<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zuozhu_IMG00000_new.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>zuozhu_IMG00001_new.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>zuozhu_IMG00002_new.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>zuozhu_IMG00003_new.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>zuozhu_IMG00004_new.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>zuozhu_IMG00005_new.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>zuozhu_IMG00028_new.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>zuozhu_IMG00029_new.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>zuozhu_IMG00030_new.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>zuozhu_IMG00031_new.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>zuozhu_IMG00032_new.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>zuozhu_IMG00033_new.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>zuozhu_IMG00034_new.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>zuozhu_IMG00035_new.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>165</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>zuozhu_IMG00175_new.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>zuozhu_IMG00176_new.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>-44.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuozhu_IMG00177_new.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>195</integer>
				<key>offsetX</key>
				<real>-45</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>zuozhu_IMG00178_new.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>-47</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>zuozhu_IMG00179_new.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>-42.5</real>
				<key>offsetY</key>
				<real>-43</real>
			</dict>
			<key>zuozhu_IMG00180_new.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>zuozhu_IMG00060_new.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>39</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zuozhu_IMG00062_new.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zuozhu_IMG00070_new.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>zuozhu_IMG00071_new.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00072_new.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>396</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>zuozhu_IMG00073_new.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>zuozhu_IMG00074_new.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>75</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>zuozhu_IMG00075_new.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>383</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>zuozhu_IMG00076_new.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>zuozhu_IMG00120_new.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>336</integer>
				<key>offsetX</key>
				<real>-16.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>zuozhu_IMG00121_new.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>336</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>zuozhu_IMG00122_new.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>425</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>zuozhu_IMG00078_new.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>362</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>zuozhu_IMG00084_new.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>zuozhu_IMG00085_new.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>zuozhu_IMG00097_new.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>494</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zuozhu_IMG00098_new.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>zuozhu_IMG00099_new.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>zuozhu_IMG00100_new.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>zuozhu_IMG00101_new.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>zuozhu_IMG00102_new.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>zuozhu_IMG00007_new.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>396</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>zuozhu_IMG00006_new.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>zuozhu_IMG00008_new.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-43.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00009_new.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>603</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>-43.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00036_new.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>zuozhu_IMG00037_new.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>654</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>zuozhu_IMG00042_new.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>88</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>zuozhu_IMG00013_new.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>550</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00061_new.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>388</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>zuozhu_IMG00063_new.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>zuozhu_IMG00064_new.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>838</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>-24.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>zuozhu_IMG00038_new.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>596</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>zuozhu_IMG00039_new.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>899</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>zuozhu_IMG00140_new.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>409</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zuozhu_IMG00141_new.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>447</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>zuozhu_IMG00142_new.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>793</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>-45</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00144_new.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>712</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>-44.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00145_new.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>845</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00146_new.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>899</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-43.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00147_new.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>948</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-43.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>zuozhu_IMG00148_new.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>763</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zuozhu_IMG00149_new.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zuozhu_IMG00150_new.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>893</integer>
				<key>y</key>
				<integer>269</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>zuozhu_IMG00151_new.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>855</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>zuozhu_IMG00152_new.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>509</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>zuozhu_IMG00153_new.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>509</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>zuozhu_IMG00159_new.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>620</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>zuozhu_IMG00160_new.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>476</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zuozhu_IMG00161_new.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>43</integer>
				<key>y</key>
				<integer>620</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zuozhu_IMG00162_new.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>426</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>zuozhu_IMG00163_new.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>620</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>zuozhu_IMG00164_new.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>586</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>zuozhu_IMG00110_new.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>zuozhu_IMG00014_new.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>198</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>535</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zuozhu_20.png</string>
			<key>realTextureFileName</key>
			<string>zuozhu_20.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>