<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Login_BG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,768}}</string>
                <key>sourceSize</key>
                <string>{1000,768}</string>
            </dict>
            <key>Login_grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1000,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,141}}</string>
                <key>sourceSize</key>
                <string>{1000,141}</string>
            </dict>
            <key>Login_mount_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{1000,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,50}}</string>
                <key>sourceSize</key>
                <string>{1000,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoginUI_part2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581f2cf1022111d4a5dff59110140c1a$</string>
            <key>textureFileName</key>
            <string>LoginUI_part2.png</string>
        </dict>
    </dict>
</plist>
