<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cike_Shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,108},{34,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,71}}</string>
                <key>sourceSize</key>
                <string>{34,71}</string>
            </dict>
            <key>CreationUI_LongBtn_Disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{240,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,56}}</string>
                <key>sourceSize</key>
                <string>{240,56}</string>
            </dict>
            <key>Creation_Btn_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,772},{240,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,56}}</string>
                <key>sourceSize</key>
                <string>{240,56}</string>
            </dict>
            <key>Creation_Btn_Lable.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{167,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,44}}</string>
                <key>sourceSize</key>
                <string>{167,44}</string>
            </dict>
            <key>Creation_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,772},{240,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,56}}</string>
                <key>sourceSize</key>
                <string>{240,56}</string>
            </dict>
            <key>Creation_ClassIconLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,989},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Creation_ClassIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,552},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Creation_ClassIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,450},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Creation_ClassIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,348},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Creation_ClassIcon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,348},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Creation_ClassIcon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,246},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Creation_ClassIcon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,144},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Creation_ClassIcon_BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,478},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>Creation_ClassIcon_BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,144},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Creation_ClassIcon_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,502},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>Creation_DialogArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,677},{47,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>Creation_RandomName_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,172},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>Creation_RandomName_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,129},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>Creation_Title_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{356,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,67}}</string>
                <key>sourceSize</key>
                <string>{356,67}</string>
            </dict>
            <key>Creation_TopTextFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,858},{107,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,63}}</string>
                <key>sourceSize</key>
                <string>{107,63}</string>
            </dict>
            <key>Creation_roleBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,502},{173,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,170}}</string>
                <key>sourceSize</key>
                <string>{173,170}</string>
            </dict>
            <key>Fashi_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,633},{35,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,70}}</string>
                <key>sourceSize</key>
                <string>{35,70}</string>
            </dict>
            <key>Jianshi_Shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,633},{35,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,70}}</string>
                <key>sourceSize</key>
                <string>{35,70}</string>
            </dict>
            <key>LoginAnimation_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,118},{321,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,106}}</string>
                <key>sourceSize</key>
                <string>{321,106}</string>
            </dict>
            <key>LoginAnimation_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,522},{238,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,85}}</string>
                <key>sourceSize</key>
                <string>{238,85}</string>
            </dict>
            <key>LoginAnimation_cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,522},{219,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,99}}</string>
                <key>sourceSize</key>
                <string>{219,99}</string>
            </dict>
            <key>LoginAnimation_cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,48},{136,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,68}}</string>
                <key>sourceSize</key>
                <string>{136,68}</string>
            </dict>
            <key>LoginAnimation_cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{266,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,104}}</string>
                <key>sourceSize</key>
                <string>{266,104}</string>
            </dict>
            <key>LoginAnimation_cloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{350,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,150}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>LoginAnimation_cloud7.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,724},{298,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,78}}</string>
                <key>sourceSize</key>
                <string>{298,78}</string>
            </dict>
            <key>Login_BG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,768}}</string>
                <key>sourceSize</key>
                <string>{136,768}</string>
            </dict>
            <key>Login_Back_Btn_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,677},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>Login_Back_Btn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,967},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>Login_LoginNoticeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,442},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Login_Magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,762},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>Login_ServerBtn_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,810},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>Login_ServerBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,762},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>Login_grass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,360},{136,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,157}}</string>
                <key>sourceSize</key>
                <string>{136,157}</string>
            </dict>
            <key>Login_logo_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,594},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>Login_logo_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>Login_mount_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,354},{136,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,74}}</string>
                <key>sourceSize</key>
                <string>{136,74}</string>
            </dict>
            <key>Login_stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,118},{79,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,322}}</string>
                <key>sourceSize</key>
                <string>{79,322}</string>
            </dict>
            <key>Login_stone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,354},{74,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,146}}</string>
                <key>sourceSize</key>
                <string>{74,146}</string>
            </dict>
            <key>Login_stone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,726},{58,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,282}}</string>
                <key>sourceSize</key>
                <string>{58,282}</string>
            </dict>
            <key>Login_stone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{123,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,518}}</string>
                <key>sourceSize</key>
                <string>{123,518}</string>
            </dict>
            <key>RoleSelect_Creat_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,215},{127,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,36}}</string>
                <key>sourceSize</key>
                <string>{127,36}</string>
            </dict>
            <key>RoleSelect_Delete_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,442},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>RoleSelect_Lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,989},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>RoleSelect_Recover.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,989},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>RoleSelect_Select_Corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,108},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>RoleSelect_StartGameLable.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,677},{167,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,44}}</string>
                <key>sourceSize</key>
                <string>{167,44}</string>
            </dict>
            <key>RoleSelect_lampstand.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,519},{205,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,74}}</string>
                <key>sourceSize</key>
                <string>{205,74}</string>
            </dict>
            <key>ServerUI_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,989},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>SeverUI_AllServer.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,726},{139,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,34}}</string>
                <key>sourceSize</key>
                <string>{139,34}</string>
            </dict>
            <key>SeverUI_LastLoginserver.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,108},{114,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,34}}</string>
                <key>sourceSize</key>
                <string>{114,34}</string>
            </dict>
            <key>SeverUI_NewServer.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,677},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>SeverUI_ServerBtn_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,772},{240,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,56}}</string>
                <key>sourceSize</key>
                <string>{240,56}</string>
            </dict>
            <key>SeverUI_ServerBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,772},{240,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,56}}</string>
                <key>sourceSize</key>
                <string>{240,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoginUI_part1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>LoginUI_part1.png</string>
        </dict>
    </dict>
</plist>
