<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Activity_FamousHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,352},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Activity_dailyanswer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Activity_defendtree.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,435},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Activity_dicegame.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,621},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Activity_jianianhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,270},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Activity_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,136}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{290,136}}</string>
                <key>sourceSize</key>
                <string>{296,142}</string>
            </dict>
            <key>BGFrame_for_TicketUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,512},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>BGconer_for_TicketUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,745},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>ChoosingCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,244},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ChosenCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,76},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{30,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>DiceGame_curve.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,26},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>DiceGame_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,176},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>DiceGame_dottedline.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,576},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>DiceGame_halfimage.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,306},{102,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,198}}</string>
                <key>sourceSize</key>
                <string>{102,200}</string>
            </dict>
            <key>DiceGame_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,550},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>DiceGame_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,380},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,244},{108,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,244},{108,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{108,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,290},{108,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,244},{108,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,270},{108,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>DroplistUI_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,190},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>FamousHall_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,512},{84,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>FamousHall_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,372},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>FriendUI_mainicon_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{42,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,108}}</string>
                <key>sourceSize</key>
                <string>{42,108}</string>
            </dict>
            <key>FriendUI_mainicon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,306},{64,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>GuilUItextframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,458},{93,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,50}}</string>
                <key>sourceSize</key>
                <string>{93,50}</string>
            </dict>
            <key>Guildboss_InfoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,779},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>Guildboss_NameDec.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,140},{117,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,34}}</string>
                <key>sourceSize</key>
                <string>{117,34}</string>
            </dict>
            <key>Loginnotice_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,423},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>LotteryUI_circleBG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{164,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,216}}</string>
                <key>sourceSize</key>
                <string>{164,216}</string>
            </dict>
            <key>LotteryUI_circleBG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,26},{164,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,216}}</string>
                <key>sourceSize</key>
                <string>{164,216}</string>
            </dict>
            <key>LotteryUI_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,342},{44,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,91}}</string>
                <key>sourceSize</key>
                <string>{44,93}</string>
            </dict>
            <key>LotteryUI_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,130},{26,26}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,216}</string>
            </dict>
            <key>LotteryUI_midBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{78,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,156}}</string>
                <key>sourceSize</key>
                <string>{78,162}</string>
            </dict>
            <key>MainUI_Friendcopy.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,938},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>MainUI_MysticShop_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,860},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>MainUI_NewFunction_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{170,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,240}}</string>
                <key>sourceSize</key>
                <string>{170,240}</string>
            </dict>
            <key>MainUI_Pet Arena_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,380},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>MainUI_lotteryicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,434},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>Paging_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,212},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,56}}</string>
                <key>sourceSize</key>
                <string>{156,56}</string>
            </dict>
            <key>Paging_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,154},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,56}}</string>
                <key>sourceSize</key>
                <string>{156,56}</string>
            </dict>
            <key>PetArena_FightIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,468},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>PetArena_Introduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,483},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{44,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>PetArena_SerchIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,468},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>PetArena_Stage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,154},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>PetArena_Stage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>PetArena_Stage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{164,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,150}}</string>
                <key>sourceSize</key>
                <string>{164,150}</string>
            </dict>
            <key>PetArena_count1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,699},{44,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>PetArena_count2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,517},{44,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>PetArena_count3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,568},{44,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>PetArena_count4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,971},{44,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>PetArena_count5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{44,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>PetStar_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{198,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,22}}</string>
                <key>sourceSize</key>
                <string>{198,22}</string>
            </dict>
            <key>PetStar_progress_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,130},{2,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,8}}</string>
                <key>sourceSize</key>
                <string>{2,8}</string>
            </dict>
            <key>PetUI_StarLvl.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,294},{48,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>Petmatch_grayarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,358},{51,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,20}}</string>
                <key>sourceSize</key>
                <string>{53,20}</string>
            </dict>
            <key>Petmatch_graycorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,108},{30,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>Petmatch_grayline.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,174},{14,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>Petmatch_redarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{43,16}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{43,16}}</string>
                <key>sourceSize</key>
                <string>{53,20}</string>
            </dict>
            <key>Petmatch_redcorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,158},{22,14}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{22,14}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>Petmatch_redline.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,158},{6,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{6,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>TitleAttribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,35}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>TitleUsing.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,510},{85,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,56}}</string>
                <key>sourceSize</key>
                <string>{85,56}</string>
            </dict>
            <key>mailUI_getpack_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,529},{70,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,88}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>mailUI_getpack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{70,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,88}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI_part3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9da511f25dd433e4448baac3d9ded07c$</string>
            <key>textureFileName</key>
            <string>MainUI_part3.png</string>
        </dict>
    </dict>
</plist>
