<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Activity_MysticShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,408},{78,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Adventure_awardbtn_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,49},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>Adventure_awardbtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>Adventure_lable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,38}}</string>
                <key>sourceSize</key>
                <string>{172,38}</string>
            </dict>
            <key>AllianceBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,290},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>ArenaUI_ArrowIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>ArenaUI_Lable.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,198},{105,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,33}}</string>
                <key>sourceSize</key>
                <string>{105,33}</string>
            </dict>
            <key>ArenaUI_TextFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,165},{106,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{106,33}</string>
            </dict>
            <key>ArenaUI_VSIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,117},{126,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,79}}</string>
                <key>sourceSize</key>
                <string>{126,79}</string>
            </dict>
            <key>Award_TurnIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>ChargeUI_CornerIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{98,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,79}}</string>
                <key>sourceSize</key>
                <string>{98,79}</string>
            </dict>
            <key>Common_BlueBtn_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,60},{148,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,55}}</string>
                <key>sourceSize</key>
                <string>{148,55}</string>
            </dict>
            <key>Common_BlueBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{148,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,55}}</string>
                <key>sourceSize</key>
                <string>{148,55}</string>
            </dict>
            <key>Common_RedBtn_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,49},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>DungeonsOptionBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{90,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,48}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>EquipGrid_withe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{78,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{78,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>FriendUI_AskNotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,356},{48,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{48,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>FriendUI_Freshbtn_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,364},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{42,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>FriendUI_Freshbtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,312},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>FriendUI_Option_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,406},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>FriendUI_extendbtn_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,358},{36,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,112}}</string>
                <key>sourceSize</key>
                <string>{60,112}</string>
            </dict>
            <key>FriendUI_extendbtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,198},{36,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,112}}</string>
                <key>sourceSize</key>
                <string>{60,112}</string>
            </dict>
            <key>FriendUI_mainicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,364},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>FriendUI_searchbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>GobackBtn_Clickde.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,387},{58,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{58,56}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>GobackBtn_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,233},{58,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{58,56}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>LevelChoose_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,138},{86,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,115}}</string>
                <key>sourceSize</key>
                <string>{86,115}</string>
            </dict>
            <key>LoginAward_Lable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{152,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,49}}</string>
                <key>sourceSize</key>
                <string>{152,49}</string>
            </dict>
            <key>MainUIOpenUp_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,99},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>MainUIOpenUp_Normal.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,60},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,37}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>MainUI_Pet_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,407},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>MainUI_SuperLevel_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,286},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>MultiLevel_ClearLable.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,107},{142,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,56}}</string>
                <key>sourceSize</key>
                <string>{144,56}</string>
            </dict>
            <key>PetCollect_awardable.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,165},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>PetUI_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,417},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PetUI_CheerLable.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,472},{38,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,35}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>PetUI_Class_Def.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,445},{29,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,58}}</string>
                <key>sourceSize</key>
                <string>{29,58}</string>
            </dict>
            <key>PetUI_Class_Long.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,445},{29,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,58}}</string>
                <key>sourceSize</key>
                <string>{29,58}</string>
            </dict>
            <key>PetUI_Class_Short.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,357},{29,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,58}}</string>
                <key>sourceSize</key>
                <string>{29,58}</string>
            </dict>
            <key>PetUI_FightingLable.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,356},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>PetUI_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,321},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PetUI_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,389},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PetUI_PetSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,291},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PetUI_Pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,255},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PetUI_Purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,290},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PetUI_SkillFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,200},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>PetUI_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,472},{68,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,31}</string>
            </dict>
            <key>PetUI_getpet_lable.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{157,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,45}}</string>
                <key>sourceSize</key>
                <string>{157,45}</string>
            </dict>
            <key>Pet_Collect_Btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,212},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>RankUI_CheckPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,364},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>RankUI_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,255},{68,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,33}}</string>
                <key>sourceSize</key>
                <string>{68,33}</string>
            </dict>
            <key>SystemSetting_OptionSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,291},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI_part2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9256ceeeae5194353639b1af555b86dc$</string>
            <key>textureFileName</key>
            <string>MainUI_part2.png</string>
        </dict>
    </dict>
</plist>
