<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,569},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>btn_act.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,534},{153,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,152}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
            <key>btn_big_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{131,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,171}}</string>
                <key>sourceSize</key>
                <string>{131,171}</string>
            </dict>
            <key>btn_big_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,396},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
            <key>btn_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,521},{95,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,46}}</string>
                <key>sourceSize</key>
                <string>{97,48}</string>
            </dict>
            <key>btn_ninja_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,392},{132,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,179}}</string>
                <key>sourceSize</key>
                <string>{132,179}</string>
            </dict>
            <key>btn_player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,257},{133,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,184}}</string>
                <key>sourceSize</key>
                <string>{133,184}</string>
            </dict>
            <key>btn_pvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,264},{160,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,152}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{127,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,176}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>btn_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,418},{153,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,152}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
            <key>btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,257},{137,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,179}}</string>
                <key>sourceSize</key>
                <string>{137,179}</string>
            </dict>
            <key>btn_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,526},{117,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,175}}</string>
                <key>sourceSize</key>
                <string>{117,175}</string>
            </dict>
            <key>btn_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,24},{238,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,238}}</string>
                <key>sourceSize</key>
                <string>{238,238}</string>
            </dict>
            <key>energy_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{264,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,20}}</string>
                <key>sourceSize</key>
                <string>{264,20}</string>
            </dict>
            <key>exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,527},{167,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>ninja_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,380},{79,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,110}}</string>
                <key>sourceSize</key>
                <string>{79,110}</string>
            </dict>
            <key>player_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{228,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,191}}</string>
                <key>sourceSize</key>
                <string>{228,191}</string>
            </dict>
            <key>player_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{748,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,253}}</string>
                <key>sourceSize</key>
                <string>{748,253}</string>
            </dict>
            <key>switch_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,257},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,264},{114,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,117}}</string>
                <key>sourceSize</key>
                <string>{114,117}</string>
            </dict>
            <key>task_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,398},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>town_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,569},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,450},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>vip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,105},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,57},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,89},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>vip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,73},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,24},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,24},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>vip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,57},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>vip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,41},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>vip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,41},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_scene_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>main_scene_ui.png</string>
        </dict>
    </dict>
</plist>
