<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BattleAcounts_DialogFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>BattleDialog_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,70},{11,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{11,121}}</string>
                <key>sourceSize</key>
                <string>{11,123}</string>
            </dict>
            <key>Chatting_Text_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,193},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>CommonToolTip_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,87},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>Common_TextFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,155},{10,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,44}}</string>
                <key>sourceSize</key>
                <string>{10,44}</string>
            </dict>
            <key>DialogMain_New.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{219,78}}</string>
                <key>sourceSize</key>
                <string>{227,78}</string>
            </dict>
            <key>DialogTalkBG_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,34},{3,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,34}}</string>
                <key>sourceSize</key>
                <string>{3,34}</string>
            </dict>
            <key>FriendUI_MainFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,155},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,33}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>LevelChoose_BGFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,82},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>LevelChoose_Fightpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,82},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>MainUI_Playerframe_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,155},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>PetUI_RedBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,125},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PetUI_YellowBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Petmatch_textframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,193},{44,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>RankUI_RedCutOffLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,34},{4,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,30}}</string>
                <key>sourceSize</key>
                <string>{4,30}</string>
            </dict>
            <key>RankUI_RedFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>RankUI_gapframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,155},{10,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,44}}</string>
                <key>sourceSize</key>
                <string>{10,44}</string>
            </dict>
            <key>RankingUI_2ndFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>SkillCoolUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,34},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>TopLight_For2ndBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,193},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>VIPUI_ExpFrameCorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,155},{18,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>VIPUI_ExpFrameMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,56},{18,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIFrame2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb74455fb6512770ebf65ba141bd21b9$</string>
            <key>textureFileName</key>
            <string>UIFrame2.png</string>
        </dict>
    </dict>
</plist>
