<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_Bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,154},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>BG_Main.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>BG_Shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BG_veins.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>BattleAcounts_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,154},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>BattleAcounts_Main.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,118},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>DialogMainBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,118},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>DialogOption_Clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>DialogOption_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>DialogTalkBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,113},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>FriendUI_2ndFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,119},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>GuildLableBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,154},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>HP_Corner_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,216},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>HP_Corner_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,186},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>HP_Middle_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,174},{13,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>InputFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,216},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>MP_Corner_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,224},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>MP_Corner_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,113},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>MP_Middle_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,119},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>PrayUI_2ndFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,64},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>RankingUI_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,118},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>SkillLearnBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,154},{28,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>SkillLearnFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,58},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>StarUI_BottomFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{12,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,114}}</string>
                <key>sourceSize</key>
                <string>{12,114}</string>
            </dict>
            <key>StarUI_LeftFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,192},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>StarUI_MainFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>StarUI_connectline.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,161},{39,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,11}}</string>
                <key>sourceSize</key>
                <string>{43,15}</string>
            </dict>
            <key>StarUp_Selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>SuperLevel_BuyTimesTinyFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>SystemSetFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,64},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>SystemSetLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,192},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>SystemSetting_OptionFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,192},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>TaskOptionBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,175},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>gray_for_dieing.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,82},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>newplayer_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,58},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIFrame.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d4971cc189ecd0d60ca221abde27d50$</string>
            <key>textureFileName</key>
            <string>UIFrame.png</string>
        </dict>
    </dict>
</plist>
